page-add-item-page {
 .color-button{
        margin: 0.4rem 0.2rem;
        padding: 0 1em;
        height: 2.8em;
        border-radius: 4px;
        font-size: 1.6rem;
        color: #fff;
        width:2.8em;
    }
}
