<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
        Add Item
    </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="close()"><ion-icon name="close"></ion-icon></button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
 
<ion-content>
<ion-list>

 <ion-item>
  <ion-input type="text" placeholder="Name" [(ngModel)]="Name"></ion-input>
  </ion-item>
  <ion-item>
  <ion-label> Date</ion-label>
  <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="StartDate"></ion-datetime>
</ion-item>
<ion-item>
  <ion-label> Time</ion-label>
  <ion-datetime displayFormat="HH:mm" [(ngModel)]="StartTime"></ion-datetime>
</ion-item>
<ion-item>
  <ion-input type="text" placeholder="StartPoint" [(ngModel)]="StartPoint"></ion-input>
  </ion-item>
   <ion-item>
  <ion-input type="text" placeholder="EndPoint" [(ngModel)]="EndPoint"></ion-input>
  </ion-item>
 <ion-item>
  <ion-textarea rows="2" placeholder="Remarks" [(ngModel)]="Remarks"></ion-textarea>
  </ion-item>

  <div style="display:flex; flex-direction:column; margin-top:10px;">
  <div style="display:flex; flex-direction:row">
    <button class="button color-button button-default button-default-ios;" style="background-color:#387ef5;" (click)="selectColor('#387ef5')" >
      <ion-icon name="md-checkmark" *ngIf="color == '#387ef5'"></ion-icon>
  </button>
  <button class="button color-button button-default button-default-ios;" style="background-color:#ffc527;" (click)="selectColor('#ffc527')">
      <ion-icon name="md-checkmark" *ngIf="color == '#ffc527'"></ion-icon>
  </button>
  <button class="button color-button button-default button-default-ios;" style="background-color:#f53d3d;" (click)="selectColor('#f53d3d')">
      <ion-icon name="md-checkmark" *ngIf="color == '#f53d3d'"></ion-icon>
  </button>
  <button class="button color-button button-default button-default-ios;" style="background-color:#7e60ff;" (click)="selectColor('#7e60ff')">
      <ion-icon name="md-checkmark" *ngIf="color == '#7e60ff'"></ion-icon>
  </button>
  <button class="button color-button button-default button-default-ios;" style="background-color:#32db64;" (click)="selectColor('#32db64')">
      <ion-icon name="md-checkmark" *ngIf="color == '#32db64'"></ion-icon>
  </button>
  <button class="button color-button button-default button-default-ios;" style="background-color:#000;" (click)="selectColor('#000')">
      <ion-icon name="md-checkmark" *ngIf="color == '#000'"></ion-icon>
  </button>
  </div>
  </div>
    </ion-list>
 
    <button full ion-button color="secondary" (click)="saveItem()">Save</button> 
 
</ion-content>